.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

bin
gen
*.class
*.sh
.settings/
.classpath
build/
.idea/
.idea/codeStyles/Project.xml
.idea/misc.xml
*.orig
*.asc
# Built application files
*.apk
*.ap_
*.aab

hs_err_pid4046.log


.gradle/
*.iml
local.properties